
{% extends 'jobs/base.html' %}
{% block body %}

	<div id ="secondary-banner">
		<div class="container">
			<h3 class="bg-text"></h3>
		</div>
	</div>

	<div class="container editpg">
	<h3 class="main-txt">Edit Job Post {{ id }}</h3>
	{% if messages %}
		{% for x in messages %}
			<p>{{ x.message }}</p>
		{% endfor %}
	{% endif %}


	<form action="{% url 'jobs:update' id=Occupations.id %}" method="POST">
		{% csrf_token %}

		<label>Job Title:</label>
		<input type="text" name="job_title" placeholder="Edit Job Title" value="{{ Occupations.job_title}}" width="100%" id="title-edit"><br>
<br>
		<label>Job Description:</label><br>
		<textarea id="edit-textarea" name="job_descp" placeholder="Enter Job Description" class="txtform" placeholder="Edit description">{{ Occupations.job_descp }}</textarea><br>
	
		<div class="row">
			
						<input type="submit" class="btn aqua-gradient" value="Update"></input>
				</div>
	</form>
</div>

{% endblock %}