<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>HR Job Post Tool</title>

	{% load static %}

	<link rel="stylesheet" href="{% static 'jobs/css/style.css' %}">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

</head>
<body>

		<nav class="navbar navbar-expand-lg navbar-dark bg-blue">
				<a class="navbar-brand" href="#">Jobs, Inc.</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
			
				<div class="collapse navbar-collapse" id="navbarColor02">
				  <ul class="navbar-nav mr-auto">
					<li class="nav-item active">
					  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">About Us</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">Services</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">Contact</a>
					</li>
				  </ul>
				  <form class="form-inline">
					<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
				  </form>
				</div>
			  </nav>

	<div id ="banner">
		<div class="container">
			<h3 class="bg-text">Human Resources <br> Job Management Tool</h3>
		</div>
	</div>

<div class="container">
				
		<form action="{% url 'job:create' %}" method='post'>
			{% csrf_token %}
			<div class="row formgrp">
					<h5 class="form-instruct">Post job information: </h5>

				<input type="text" name="job_title" placeholder="Enter Job Title" class="txtform"></input> 
				
				<textarea id="home-textarea" name="job_descp" placeholder="Enter Job Description" class="txtform"></textarea> 
				
				<input type="submit" class="btn aqua-gradient"></input>
			</div>
		</form>



		<table class="table-striped table-responsive">
			<tr>
				<th style="width: 90px;">Job ID #</th>
				<th>Job Title</th>
				<th>Job Description</th>
				<th>Post Date</th>
				<th>Edit</th>
				<th>Delete</th>		
			</tr>
			{% for obj in addJobs %}
			<tr>
					<td>{{ obj.id}}</td>
					<td>{{ obj.job_title}}</td>
					<td style="padding-right: 6px;">{{ obj.job_descp}}</td>
					<td width="100">{{ obj.post_date}}</td>
					<td><a href='{% url "job:edit" obj.id %}'>Edit</a></td>
					<td><a href='{% url "job:delete" obj.id %}'>Delete</a></td>
			</tr>
			{% endfor %} 
		</table>
</div>

<footer>
		Jobs, Inc. Django CRUD Demo &copy; 2017
	</footer>
</body>
</html>