{% extends 'jobs/base.html' %}
{% block body %}

<div id ="home-banner">
		<div class="container">
			<h3 class="bg-text">Human Resources <br> Job Management</h3>
		</div>
	</div>

<div class="container">
				
		<form action="{% url 'jobs:create' %}" method='post'>
			{% csrf_token %}
			<div class="row formgrp">
					<h5 class="form-instruct">Post job information: </h5>

				<input type="text" name="job_title" placeholder="Enter Job Title" class="txtform"></input> 
				
				<textarea id="home-textarea" name="job_descp" placeholder="Enter Job Description" class="txtform"></textarea> 
				
				<input type="submit" class="btn aqua-gradient"></input>
			</div>
		</form>



		<table class="table-striped table-responsive">
			<tr>
				<th style="width: 90px;">Job ID #</th>
				<th>Job Title</th>
				<th>Job Description</th>
				<th>Post Date</th>
				<th>Edit</th>
				<th>Delete</th>		
			</tr>
			{% for obj in Occupations %}
			<tr>
					<td>{{ obj.id}}</td>
					<td>{{ obj.job_title}}</td>
					<td style="padding-right: 6px;">{{ obj.job_descp}}</td>
					<td width="100">{{ obj.post_date}}</td>
					<td><a href='{% url "jobs:edit" obj.id %}'>Edit</a></td>
					<td><a href='{% url "jobs:delete" obj.id %}'>Delete</a></td>
			</tr>
			{% endfor %} 
		</table>
</div>
{% endblock %}