<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>HR Job Post Tool</title>
	<style>
	</style>
</head>
<body>

	<h3>Enter job vacancies</h3>
	
	<form action='{% url "job:create" %}' method='post'>
		{% csrf_token %}

		<input type="text" name="job_title" placeholder="Job Title"></input>
		<br>
		<textarea name="job_descp" placeholder="Enter Job Description"></textarea><br>
		
		<input type="submit"></input>
	</form>

	<table>
		<tr>
			<th>Job ID #</th>
			<th>Job Title</th>
			<th>Job Description</th>
			<th>Post Date</th>
		</tr>
		{% for obj in addJob %}
		<tr>
				<th>{{ obj.id}}</th>
				<th>{{ obj.job_title}}</th>
				<th>{{ obj.job_descp}}</th>
				<th>{{ obj.post_date}}</th>
		</tr>
		{% endfor %} 
	</table>

</body>
</html>