
body {
    width: 100%;
    margin: 0 auto;
}

#banner {
    background: url('') center center no-repeat;
    background-size: cover;
}

input,textarea {
   /* padding: .5rem .75rem;*/
    font-size: 1rem;
    line-height: 1.25;
    background-color: #fff;
    background-image: none;
   /* background-clip: padding-box;*/
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

textarea {
    height: 38px;
}

.txtform {
margin-right: 10px;
}

.formgrp {
   position: relative;
   left: 14px !important;
   margin-bottom: 20px;
}


/* Change the bootstrap default striped color class */
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #e6f7ff !important;
}

/* button*/
.aqua-gradient {
    background: -webkit-linear-gradient(50deg,#2096ff,#05ffa3);
    background: linear-gradient(40deg,#2096ff,#05ffa3);
    -webkit-transition: .5s ease;
    transition: .5s ease;
}


.form-instruct {
    margin-top: 7px;
    margin-right: 7px;
}